/* imports */

@font-face {
  font-family: "Caviar Dreams";
  src: url("../fonts/CaviarDreams.woff2") format("woff2"),
    url("../fonts/CaviarDreams.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #fbfbfb;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 94%);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 30px;
}

.title {
  margin: 0;
  font-family: "Caviar Dreams";
  font-size: calc(1.5rem + 1vw);
}
